<!-- coinflip_project/coinflip_app/templates/coinflip_app/place_bet.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container text-center">
      <h1 class="mt-5">Place Your Bet</h1>
      <div>
          <p>Your current balance: ${{ balance }}</p>
          <form method="post" action="{% url 'place_bet' %}">
              {% csrf_token %}
              <label for="bet_amount">Enter your bet amount:</label>
              <input type="number" id="bet_amount" name="bet_amount" min="1" value="1">
              <button type="submit" class="btn btn-primary mt-3">Place Bet</button>
          </form>
      </div>
  </div>
{% endblock %}
